.navigation-bar {
  display: flex;
  margin: auto;
  height: 100px;
  width: 200px;
  margin-bottom: 10px;
}
body
{
    background-image: linear-gradient(white,purple);
    height:100vh;
}

.container {
  max-width: 995px;
  margin: auto;
  background-color: yellow;
  height: 60vh;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  background-color: grey;
  width: 24%;
  padding: 10px;
  margin: 15px;
  border: black;
  border-radius: 10px;
}

.msgleft {
  float: left;
  clear: both;
}

.msgright {
  float: right;
  clear: both;
}

#send-container{
    text-align: center;   
    display: block;
    margin: auto;
}

.msgInp{
    width: 92%;


}
